<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EbayKitOpenApiBaseUrl</key>
	<string>http://open.api.ebay.com</string>
	<key>EbayKitBaseUrl</key>
	<string>http://svcs.ebay.com/services/search/FindingService/v1?</string>
	<key>EbayKitAppClientID</key>
	<string>&lt;Client Id here&gt;</string>
</dict>
</plist>
